:root{
    --background: #031f29;
    --primary-color: #092837b1;
    --secondary-color: #a1d1ef;
    --accent-color: #00c8ff;
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(-text-color);
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}
.todo{
    margin-bottom: 10px;
    padding: 0 66px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transform: 200ms ease;
}
.delete-button, .edit-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button svg{
    transform: 200ms ease;
}
.delete-button:hover svg{
    fill: #ff0033;
}
.edit-button:hover svg{
    fill: rgb(156, 223, 254);
}
.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    transform: 200ms ease;
    cursor: pointer;
}
input[type="checkbox"]:checked ~.custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked~.todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;
}
@media (max-width: 500px){
    html{
        font-size: 12px;
    }
    #add-button{
       position: unset;
          width: 100%;
        margin-top: 10px;
        padding: 15px;
      height: auto;
    }
    h1{
        margin-top: 50px;
       font-size: 15vw; 
    }
}
.task-list{
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600px;
    padding: 20px 0;
    margin: 0 10%;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    color: var(--accent-color);
}